
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Scalr API Explorer</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link type="image/x-icon" href="/static/favicon.ico" rel="shortcut icon" />
  <style>
    .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    .nav.nav-tabs { padding-bottom: 15px; }
  </style>
</head>

<body ng-app="ScalrAPIExplorer">
  <div class="container">
    <div class="page-header">
      <h1>Scalr API Explorer</h1>
      <p>Use this app to explore the Scalr API.</p>
      <p>This app is exclusively client-side. All requests are directly sent from your workstation to the Scalr API.</p>
    </div>

    <div class="container" ng-controller="APIRequestForm">
        <div class="row">
          <h2>API Structure</h2>
          <p>Status: <span class="label label-{{ apiStructureStatus.label }}">{{ apiStructureStatus.status }}</span></p>
          <button class="btn btn-default" ng-click="loadApiStructure()">Reload API Structure</button>
        </div>



        <div class="row">

          <h2>API Settings</h2>

          <div class="alert alert-warning" role="alert" ng-show="isHttps && apiSettingsForm.apiUrl.$valid && apiSettings.apiUrl.indexOf('https') != 0">
            <p>
              <strong><span class="glyphicon glyphicon-warning-sign"></span> Heads up!</strong>
              You are currently accessing the API Explorer over HTTPS, but your API endpoint is served over HTTP.
              This may trigger a <a href="https://developer.mozilla.org/en-US/docs/Security/MixedContent">mixed content alert</a> in your browser.
            </p>
            <p>
              <strong>Don't panic, the API Explorer can still work,</strong> provided you allow mixed content first.
            </p>
            <p>
              To do so, make a "Hello" API Call. Your browser will show a warning; it's a shield icon next to the URL bar.
              Click it, and allow mixed content. Most browsers will reload the page, so make sure you save your API settings first.
            </p>

          </div>

          <form name="apiSettingsForm" class="form-horizontal" role="form" novalidate>
            <div class="form-group" ng-class="{'has-error': apiSettingsForm.apiUrl.$invalid}">
              <label class="col-sm-2 control-label">API URL</label>
              <div class="col-sm-10">
                <input class="form-control" type="url" name="apiUrl" ng-model="apiSettings.apiUrl" ng-required="true" />
              </div>
            </div>

            <tabset justified="true">

              <tab heading="Use API Key Auth" active="tabs.key.active">
                <div class="form-group" ng-class="{'has-error': apiSettingsForm.keyId.$invalid}">
                  <label class="col-sm-2 control-label">API Key ID</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="text" name="keyId" ng-model="apiSettings.keyId" ng-required="equals(apiSettings.authType, 'key')" />
                  </div>
                </div>

                <div  class="form-group">
                  <label class="col-sm-2 control-label">API Secret Key</label>
                  <div class="col-sm-10" ng-class="{'has-error': apiSettingsForm.secretKey.$invalid}">
                    <input class="form-control" type="password" name="secretKey" ng-model="apiSettings.secretKey" ng-required="equals(apiSettings.authType, 'key')" />
                  </div>
                </div>
              </tab>

              <tab heading="Use LDAP Auth" active="tabs.ldap.active">
                <div  class="form-group">
                  <label class="col-sm-2 control-label">LDAP Username</label>
                  <div class="col-sm-10" ng-class="{'has-error': apiSettingsForm.ldapUsername.$invalid}">
                    <input class="form-control" type="text" name="ldapUsername" ng-model="apiSettings.ldapUsername" ng-required="equals(apiSettings.authType, 'ldap')" />
                  </div>
                </div>

                <div  class="form-group">
                  <label class="col-sm-2 control-label">LDAP Password</label>
                  <div class="col-sm-10" ng-class="{'has-error': apiSettingsForm.ldapPassword.$invalid}">
                    <input class="form-control" type="password" name="ldapPassword" ng-model="apiSettings.ldapPassword" ng-required="equals(apiSettings.authType, 'ldap')" />
                  </div>
                </div>
              </tab>

            </tabset>

            <div  class="form-group">
              <label class="col-sm-2 control-label">Environment ID</label>
              <div class="col-sm-10" ng-class="{'has-error': apiSettingsForm.envId.$invalid}">
                <input class="form-control" type="text" name="envId" ng-model="apiSettings.envId" ng-required="equals(apiSettings.authType, 'ldap')" />
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <!-- TODO: Actually check API settings against what is saved! -->
                <button class="btn btn-default" ng-disabled="equals(storedApiSettings, apiSettings)" ng-click="saveApiSettings()">Locally Save API Settings</button>
                <button class="btn btn-danger" ng-disabled="equals(storedApiSettings, defaultApiSettings)" ng-click="clearApiSettings()">Clear Saved API Settings</button>
              </div>
            </div>
          </form>

        </div>

        <div class="row">
          <h2>API Call</h2>
          <form name="apiCallForm" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">API Call</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="apiCall" ng-required="true" ng-options="value.name for value in apiCalls | orderBy:'name'">
                  <option value="">--- Choose API Call ---</option>
                </select>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <h2>API Parameters</h2>


          <form name="apiParametersForm" class="form-horizontal" novalidate>

            <div ng-show="apiCall">
              <p ng-show="apiCall.params.length">
                Need Help? Visit the
                <a target="_blank" href="{{ getDocumentationURL(apiCall) }}">{{ apiCall.name }}</a>
                documentation (opens in a new tab).
              </p>
              <p ng-hide="apiCall.params.length">This API Call takes no parameters</p>
            </div>

            <div class="form-group" ng-repeat="param in apiCall.params">
                <label class="col-sm-2 control-label">{{param.name}} <span ng-show="param.required">*</span></label>

                <div class="col-sm-10" ng-switch="param.array">
                    <input ng-switch-when="false" class="form-control" type="text" ng-model="apiParams[param.name]" ng-required="param.required" />

                    <div ng-switch-when="true">
                      <div ng-repeat="i in range(getArrayParamLength(param.name)) track by $index">

                        <div class="row form-inline">
                          <label class="col-xs-2" class="control-label">Key</label>
                          <input class="col-xs-4 form-control" type="text" ng-model="apiParams[param.name][$index].key"/>

                          <label class="col-xs-2" class="control-label">Value</label>
                          <input class="col-xs-4 form-control" type="text" ng-model="apiParams[param.name][$index].value"/>
                        </div>

                      </div>

                      <div>
                        <button class="btn btn-default" ng-click="addArrayParam(param.name)">Add parameter</button>
                      </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-success"
                  ng-disabled="!apiCallForm.$valid || !apiParametersForm.$valid || !apiSettingsForm.$valid"
                  ng-click="makeApiCall()"
                >Call {{ apiCall.name }}</button>
                <button class="btn btn-danger" ng-disabled="!apiCallForm.$valid" ng-click="resetParams()">Reset form</button>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <h2>API Response</h2>
          <p ng-hide="lastResponse.message">Status: No API response yet</p>
          <p ng-show="lastResponse.message">Status: {{ lastResponse.message }}</p>
          <p ng-show="lastResponse.status">HTTP Status: <code>{{ lastResponse.status }}</code></p>

          <pre ng-show="lastResponse.body">{{ lastResponse.body }}</pre>
        </div>

    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="static/angular-local-storage.min.js"></script>
  <script src="static/ui-bootstrap-tpls-0.11.0.min.js"></script>
  <script src="static/sjcl.js"></script>
  <script src="static/vkbeautify.js"></script>

  <script src="migration-app.js"></script>
  
</body>
</html>
