
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Scalr Farm Migrator</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link type="image/x-icon" href="static/favicon.ico" rel="shortcut icon" />
  <style>
    .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    .nav.nav-tabs { padding-bottom: 15px; }
  </style>
</head>

<body ng-app="ScalrFarmMigrator">
  <div class="container">
    <div class="page-header">
      <h1>Scalr Farm Migrator</h1>
      <p>This app allows you to migrate your apps from one cloud to another, or to another location in the same cloud.</p>
      <p>This app is exclusively client-side. All requests are directly sent from your workstation to the Scalr API.</p>
    </div>

    <div class="container" ng-controller="APIRequestForm">
        <div class="row">

          <h2>API Settings</h2>

          <div class="alert alert-warning" role="alert" ng-show="isHttps && apiSettingsForm.apiUrl.$valid && apiSettings.apiUrl.indexOf('https') != 0">
            <p>
              <strong><span class="glyphicon glyphicon-warning-sign"></span> Heads up!</strong>
              You are currently accessing the API Explorer over HTTPS, but your API endpoint is served over HTTP.
              This may trigger a <a href="https://developer.mozilla.org/en-US/docs/Security/MixedContent">mixed content alert</a> in your browser.
            </p>
            <p>
              <strong>Don't panic, the API Explorer can still work,</strong> provided you allow mixed content first.
            </p>
            <p>
              To do so, make a "Hello" API Call. Your browser will show a warning; it's a shield icon next to the URL bar.
              Click it, and allow mixed content. Most browsers will reload the page, so make sure you save your API settings first.
            </p>

          </div>

          <form name="apiSettingsForm" class="form-horizontal" role="form" novalidate>
            <div class="form-group" ng-class="{'has-error': apiSettingsForm.apiUrl.$invalid}">
              <label class="col-sm-2 control-label">API URL</label>
              <div class="col-sm-10">
                <input class="form-control" type="url" name="apiUrl" ng-model="apiSettings.apiUrl" ng-required="true" />
              </div>
            </div>

            <tabset justified="true">

              <tab heading="Use API Key Auth" active="tabs.key.active">
                <div class="form-group" ng-class="{'has-error': apiSettingsForm.keyId.$invalid}">
                  <label class="col-sm-2 control-label">API Key ID</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="text" name="keyId" ng-model="apiSettings.keyId" ng-required="equals(apiSettings.authType, 'key')" />
                  </div>
                </div>

                <div  class="form-group">
                  <label class="col-sm-2 control-label">API Secret Key</label>
                  <div class="col-sm-10" ng-class="{'has-error': apiSettingsForm.secretKey.$invalid}">
                    <input class="form-control" type="password" name="secretKey" ng-model="apiSettings.secretKey" ng-required="equals(apiSettings.authType, 'key')" />
                  </div>
                </div>
              </tab>

              <tab heading="Use LDAP Auth" active="tabs.ldap.active">
                <div  class="form-group">
                  <label class="col-sm-2 control-label">LDAP Username</label>
                  <div class="col-sm-10" ng-class="{'has-error': apiSettingsForm.ldapUsername.$invalid}">
                    <input class="form-control" type="text" name="ldapUsername" ng-model="apiSettings.ldapUsername" ng-required="equals(apiSettings.authType, 'ldap')" />
                  </div>
                </div>

                <div  class="form-group">
                  <label class="col-sm-2 control-label">LDAP Password</label>
                  <div class="col-sm-10" ng-class="{'has-error': apiSettingsForm.ldapPassword.$invalid}">
                    <input class="form-control" type="password" name="ldapPassword" ng-model="apiSettings.ldapPassword" ng-required="equals(apiSettings.authType, 'ldap')" />
                  </div>
                </div>
              </tab>

            </tabset>

            <div  class="form-group">
              <label class="col-sm-2 control-label">Environment ID</label>
              <div class="col-sm-10" ng-class="{'has-error': apiSettingsForm.envId.$invalid}">
                <input class="form-control" type="text" name="envId" ng-model="apiSettings.envId" ng-required="equals(apiSettings.authType, 'ldap')" />
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <!-- TODO: Actually check API settings against what is saved! -->
                <button class="btn btn-success" ng-click="getFarmsAndRoles()">Fetch Farms list</button>
                <button class="btn btn-default" ng-disabled="equals(storedApiSettings, apiSettings)" ng-click="saveApiSettings()">Locally Save API Settings</button>
                <button class="btn btn-danger" ng-disabled="equals(storedApiSettings, defaultApiSettings)" ng-click="clearApiSettings()">Clear Saved API Settings</button>
              </div>
            </div>
          </form>

        </div>

        <div class="row">
          <h2>Farm selection</h2>
          <form name="farmSelectForm" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">Farm to migrate:</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="farmSelected" ng-required="true" ng-options="value as value.name for value in farmList | orderBy:'value.name'">
                  <option value="">--- Available farms ---</option>
                </select>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <h2>Location selection</h2>
          <form name="locationSelectForm" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">Destination:</label>
              <div class="col-sm-10">
                <select class="form-control" ng-model="locationSelected" ng-required="true" ng-options="value as value.name for value in possibleLocations | orderBy:'name'">
                  <option value="">--- Possible locations ---</option>
                </select>
              </div>
            </div>
          </form>
        </div>

        <div class="row" ng-show="todo">
          <h2>Migration summary</h2>
          <p>Your existing configuration will be backed up in a farm called <strong>{{backupName}}</strong>.</p>
          <p>The following changes will be made to the roles in your farm:<p>
          <ul>
            <li ng-repeat="role in todo">
              <strong>{{role.name}}</strong> - Status: {{role.status}}
              <ul>
                <li ng-repeat="(property, values) in role.changes">
                  {{property}} : {{values.old}} -> {{values.new}}
                </li>
              </ul>
            </li>
          </ul>
          <p>If everything looks good, click here:</p>
          <button class="btn btn-success" ng-click="performMigration()">Migrate</button>
        </div>

    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="static/angular-local-storage.min.js"></script>
  <script src="static/ui-bootstrap-tpls-0.11.0.min.js"></script>
  <script src="static/sjcl.js"></script>
  <script src="static/vkbeautify.js"></script>
  <script src="static/angular-xml2json.js"></script>

  <script src="migration-app.js"></script>

</body>
</html>
